.citas-form-container {
    background-color: #1fc1ee; /* Azul oscuro */
    color: #ffffff; /* Texto blanco */
    border-radius: 10px;
    width: 80%;
    max-width: 450px;
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 70px; /* Espacio en la parte superior */
    float: center;
    align-items: center;

  }
  
  .form-title {
    
    text-align: center;
   margin-top: 50px;
    font-family: 'Source Sans Pro';
    font-size: 40px;
  }
  
  .form-label {
    color: #000000; /* Amarillo */
      float: center;
    align-items: center;
    font-family: 'Source Sans Pro';


  }
  
  .form-input {
    background-color: #fff; /* Fondo blanco para inputs */
    color: #000; /* Texto negro */
    width: 250px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
  }
  
  .submit-button {
    background-color: #000; /* Negro */
    border-color: #000; /* Borde negro */
    width: 100%; /* Cambia esto a 100% si quieres que el botón ocupe todo el ancho del formulario */
    color: #fff;
    display: block;
    margin: 20px auto;
    font-family: 'Source Sans Pro';
  }
  
  .submit-button:hover {
    background-color: #90E0EF; /* Amarillo */
    border-color: #90E0EF; /* Borde amarillo */
    color: #000; /* Texto negro al pasar el mouse */
    font-family: 'Source Sans Pro';
  }
  .logo {
    width: 200px;
    height: 40px;
    float: left;
    margin-left: 50px;
  }

  h2.form-title{
    margin-top: 50px;
  }
  .citas{
    width: 60px;
    height: 40px;
    float: right;
    margin-right: 50px;
  }

  .out{
    width: 60px;
    height: 40px;
    float: right;
    margin-right: 50px;
  }